body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}


.otherservices-text{
 position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 30%;
    font-size: 20px;
    color:antiquewhite;
         
}



