body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(1.jpeg.jpg);
    background-size:cover;
    height: 100vh;
    background-position: center;

}
.container{
    margin-left: 600px;
    margin-top: 200px;
}

.container h2{
    font-size: 30px;
    color: #32cd32;
    letter-spacing: 4px;
}

.btn{
    position: relative;
    background: #32cd32;
    color: white;
    border:none;
    padding: 12px 50px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;

}

.btn:hover{
    background: #006400;
}